@import "./CSS/reset.css";

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 50%;
  margin: 9em auto ; 
  background-color: #34a0a4;
 
  /* padding: 2em; */

 
}
.modal-button{
  box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  position:relative;
}

.modal-header {
  width: 100% ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.button-container {
width: 70% ;
margin: 0 auto; 
display: flex; 
flex-direction: row;
justify-content: center;

}
.modal-form {
height: 200px  ;
width: 90% ;
margin: 5em auto ;

padding:0em auto;

}
.form-component{
display:flex; 
flex-direction: column ;
align-items: center;
}


.modal-backdrop {
  /* position: fixed; */
  /* top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh; */
  background-color: white;
  opacity: .8;
}
fade {
  transition: opacity .30s linear;
}
h3 {
  font-size: x-large;
}
.rate-info{
  column-count: 2 ;

}
.miles-bar{
  width: 80%;
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@keyframes fade-slide-in {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0);
  } 
}